html,body{
    height:100%;
}
body{
    font-family: 'Roboto Condensed',sans-serif;
}
.bottom-margin{
    margin-bottom:30px;
}

.bg-parallax{
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    /*only can be used in css not in html imgsrc*/
    background-attachment: fixed;
}


.btn-navigation{
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}
.btn-navigation:hover{
    background: #fff;
    color:#41464B;
}
.btn-general{
    border:solid 2px #fff;
    padding:10px 80px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-white{
    color:#fff;
    border-color:#fff;
}
.btn-white:hover,
.btn-white:focus{
    background: #fff;
    color:#41464B;
}
.btn-blue{
    color:#34C6D3;
    border-color:#34C6D3;
}
.btn-blue:hover,
.btn-blue:focus{
    background:#34C6D3;
    color:#fff;
}
.field-disable{
    cursor: not-allowed;
}


.text-heading{
    color:#fff;
    text-transform: uppercase;
}
.text-content{
    color:#64707B;
    font-weight: 100;
}
.text-heading-white{
    color:#fff;
}
.text-heading-blue{
    color:#34C6D3;
}


.navbar{
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.navbar-inverse{
    border: none;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #34c6d3;
}
.left-padding{
    padding: 0 80px;
}


.home-section{
    height:100%;
}
.home-cover {
    background-image: url("../assets/home.jpg");
    height:100%;
}
.bg-dark{
    background-color:#64707B;
}
.user-home-cover{
    height:100%;
}
.home-content-box{
    width:100%;
    height:100%;
    display:table; 
}
.home-content-box-inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.home-section .text-heading{
    color: #2E2D4D;
    font-size:55px;
    font-weight: bold;
    margin:20px 0; 
}
.label-name{
    font-size: large;
    font-weight: 400;
}


.content-box{
    padding:60px 0;
}
.content-title .text-heading{
    font-size:30px;
    font-weight: 700;
    text-align: center;
    margin: 0 110px 30px;
}
.content-title-underline{
    width:30px;
    height:3px;
    background: #34C6D3;
    margin:0 auto 30px;
}
.about-heading{
    color:#41464B;
    text-transform: uppercase;
    margin:0 auto 15px;
    padding-left: 46%;
}
.about-content-box{
    float:left;
    height:500px;
}
.about-content-box-outer{
    display:table;
    width:100%;
    height:100%;
}
.about-content-box-inner{
    display:table-cell;
    vertical-align: middle;
}
.about-btn{
    text-align:center;
}
.about-bg-diagonal{
    margin-right: 130px;
    width: 500px;
    height:500px;
    float:right;
    background-image: url("../assets/importance.png");
}


.contact-section{
    background-color: #41464B;
    padding-top:30px;
    border-top: 5px solid rgba(0,0,0,0.1);
}
.contact-left h3,
.contact-right h3{
    color:#fff;
    font-size: 28px;
    font-weight: 700;
}
.contact-left p{
    color:#fff;
    margin-bottom: 30px;
}
address{
    color:#fff;
}
address strong,
.phone-fax-email strong{
    font-size: 16px;
    letter-spacing: 1px;
}
.form-control{
    background-color: transparent;
    border-radius: 0;
    color:#fff;
    font-size: 16px;
    font-weight: 300;
    border-color: #fff;
    margin-bottom:20px;
    padding: 8px 15px;
}


footer p{
    font-size:16px;
    font-weight: 300;
}
.copyrights{
    background: #696969;
    padding: 1% 28%;
    color: #fff;
}
